{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block page_content %}
<div class="row">
    <div class="col-md-8 col-md-offset-4">
        <h1>Flask Simple Example</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-0">
        {% if form %}
        <form class="form" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}

            <p>Please tell me your name</p>
            {{ wtf.form_field(form.name, form_type="inline") }}
            <p>Please tell me your age</p>
            {{ wtf.form_field(form.age, form_type="inline") }}

            {{ wtf.form_field(form.submit) }}
        </form>
        {% else %}
        <p>Pleased to meet you, {{ name }}, {{ age }}!</p>
        {% endif %}

    </div>
    <div class="col-md-4">
        <p>I've seen these people before</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Age</td>
                    <td>Time</td>
                </tr>
            </thead>
            <tbody>
                {% for person in history %}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ moment(person.time).format('LLL') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <p>Most common ages</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Age</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody>
                {% for person in frequency %}
                <tr>
                    <td>{{ person[0] }}</td>
                    <td>{{ person[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}